.top-header.top-header--transparent{
    background-color: transparent;
}

.profile .profile__header{
    height: 80vh; /* view for height 즉 80%의 스크린을 의미*/
    background-image: url(../images/pattern.jpg);
    width: 100%;
    position: relative;
    top: -60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.profile__header .profile__header-container{
    text-align: center;
    position: relative;
    bottom: -60px;
}

.profile__header-container img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile .profile__container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__container input{
    padding: 5px;
    margin-bottom: 20px;
}

.profile__actions{
    display: flex;
}

.profile__actions .profile_action{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.profile__actions .profile__action-circle{
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 50%;
    color: #523737;
    margin-bottom:15px;
}

.profile__actions .profile__action-title{
    font-size: 12px;
    font-weight: 600;

}